@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400&display=swap');

@font-face {
    font-family: 'Coalition';
    src: url('Coalition_v2..ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'ComputerFont';
    src: url('Computerfont.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

:root{
    --steel-teal: #5a7d7cff;
    --persian-plum: #721817ff;
    --gunmetal: #232c33ff;
    --timberwolf: #e4dfdaff;
    --gold-crayola: #edcb96ff;
}
*{
    margin: 0em;
    padding: 0px;
}
body{
    background-color: black;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: black;
}
header{
    background-color: var(--gunmetal);
    padding: 10px 0px;
    text-align: center;
}
header>p{
    text-align: auto;
    color: var(--steel-teal);
}
header > h1{
    color: var(--gold-crayola);
    font-family: 'Coalition', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.1em;
}
section{
    background-color: var(--steel-teal);
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.39);
    font-family: 'Oxygen', sans-serif;
}
section>h2{
    font-family: 'ComputerFont', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    color: var(--gold-crayola);
}
a{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--persian-plum);
}
a:hover{
    text-decoration: underline;
    color: midnightblue;   
}

#videoSection{
    height: 50vh;
    padding: 0px;
    position: relative;
    padding-bottom: 3.55%;
    background-color: black;
}

iframe{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 70%;
    margin: 0em;
}