*{
    padding: 0%;
    font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
}
:root{
    --colorj1: darkcyan;
    --colorm1: blue;
    --colorj2: darkgreen;
    --colorm2: navy;
    --colorJ: red;
    --colorM: maroon;
    --colorCoef: purple;

}
body{
    background-color: whitesmoke;
}
main{
    max-width: 800px;
    color: black;
    margin: auto;  
}
.cgTable{
    position: relative;
    width: 25%;
    font-size: 1.2em;
}
#cg1x12{
    left: 380px;
}
#cg2x1{
    top: 180px;
}
.numj1, .numj2{
    font-size: 1.2em;
    font-weight: bold;
}
table{
    border: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
    table-layout: auto;
}
td>table{
    position: relative;
    text-align: center;
    border: solid; 
    border-width: 2px;
}
td>table>tbody>tr>td{
    padding: 0.0em;
}
td>table>tbody>tr>td:hover{
    background-color: palevioletred;
}
.cgTable>table{
    position: absolute;
}
.tb1,.tb2,.tb3,.tb4,.tb5,.tb6,.tb7{
    box-shadow: 0em 0.2em 0em 0em rgba(0, 0, 0, 0.1);
}
.pos12{
    background-color: slategray;
    margin-left: -2px;
}
.pos21{
    background-color: darkgrey;
}
.pos22{
    background-color: gainsboro;
    padding-top: -2px;
    margin-left: -2px;
}
#inputsDIV{
    font-size: 1.2em;
}
.inputJM{
    width: 10%;
    text-align: center;
    font-size: 1.1em;
}
#myCoef{
    color: var(--colorCoef);
    font-size: 1.4em;
}
button{
    margin: 0% 25%;
    font-size: 1.2em;
    color: var(--colorCoef);
}
footer{
    background-color: darkgray;
    text-decoration: bold;
}